@charset "UTF-8";

/*Обнуление*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
menu,
section {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.container {
  font-family: "Poppins", sans-serif;
  max-width: 1500px;
  width: 100%;
  margin: 0 auto;
}

.but {
  font-weight: 500;
  font-size: 20px;
  background-color: #58A9A5;
  border-radius: 15px;
  color: #fff;
  max-width: 250px;
  width: 100%;
  text-align: center;
  padding: 25px 0;
  cursor: pointer;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px 0;
}

nav .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .logo p {
  font-size: 30px;
  font-weight: bolder;
  color: #58A9A5;
  padding: 0 15px;
}

nav .navigation {
  width: 100%;
}

nav .navigation ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
}

nav .navigation ul li {
  font-weight: normal;
  font-size: 20px;
  color: #404242;
  cursor: pointer;
}

nav .navigation ul li:hover {
  color: #58A9A5;
  font-weight: bold;
}

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info .txt .title {
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  color: #1C2323;
  max-width: 500px;
  width: 100%;
  line-height: 90px;
}

.info .txt .title2 {
  font-weight: 800;
  font-size: 35px;
  color: #1C2323;
  max-width: 500px;
  width: 100%;
  line-height: 60px;
}

.info .txt .description {
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 40px;
  color: #404242;
  max-width: 735px;
  width: 100%;
  padding: 50px 0;
}

.info .txt .two {
  max-width: 700px;
  width: 100%;
}

.info .txt .but {
  border-radius: 20px 20px 20px 0;
}

.info .images {
  background-image: url("../img/back-img.svg");
}

.txt-info {
  padding: 70px 0;
  max-width: 450px;
  width: 100%;
  margin: 0 auto;
}

.txt-info .big-title {
  font-style: normal;
  font-weight: 800;
  font-size: 60px;
  text-align: center;
  color: #1C2323;
  padding: 20px 0;
}

.txt-info .mini-txt {
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  text-align: center;
  color: #404242;
}

.see-video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.see-video img {
  max-width: 900px;
  width: 100%;
}

.see-video .txt-see-video {
  padding: 100px 0 0;
  background: #CCF0E6;
  border-radius: 0 10px 10px 0;
}

.see-video .txt-see-video .mar {
  width: calc(100% - 200px);
  margin: 0 auto;
}

.see-video .txt-see-video .description-see-video {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #486958;
}

.see-video .txt-see-video .see-vid {
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  color: #486958;
  padding: 30px 0 0;
}

.info-reverse {
  padding: 100px 0 0;
}

.line {
  border: 2px solid #58A9A5;
  width: 135px;
  margin: 0 auto 10px;
}